{% extends "base.html" %}
{% load static %}
{% load goods_tags%}

{% block content %}
<!-- СЛАЙДЕР С БЕСТСЕЛЛЕРАМИ -->
<a href="{% url "catalog:index" %}">
    <div class="new_year" style="background-image: url('/static/deps/images/new_year.jpg');">
        <div class="new_year-overlay">
            <div class="new_year-text">
                <h1>Новогодняя акция!</h1>
                <p>Покупайте определенные сорта чая со скидкой!</p>
            </div>
        </div>
    </div>
</a>

<div class="container">
    <div class="important_information text-center">
        <h1>Лидеры продаж</h1>
    </div>

    <div class="container mt-5">
        <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% tag_bestsellers as grouped_bestsellers %}
                {% for group in grouped_bestsellers %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="row">
                            {% for product in group %}
                            <div class="col-md-4 mb-4">
                                <div class="card" style="height: 400px;"> <!-- Задаем фиксированную высоту карточки -->
                                    <a href="{% url "catalog:product" product.slug %}">
                                        {% if product.image %}
                                            <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}" style="height: 200px; object-fit: cover;"> 
                                        {% else %}
                                            <img src="{% static "deps/images/Image-not-found.png" %}" class="card-img-top" alt="page not found" style="height: 200px; object-fit: cover;"> 
                                        {% endif %}
                                    </a>
                                    <div class="discount-badge position-absolute" style="top: 10px; right: 10px; background-color: black; color: white; padding: 5px; border-radius: 5px;">
                                        -{{ product.discount }}% <!-- Предполагается, что 'discount' — это атрибут вашего продукта -->
                                    </div>
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title">
                                            <a href="{% url 'catalog:product' product.slug %}">{{ product.name }}</a>
                                        </h5>
                                        <p class="card-text">{{ product.description }}</p>
                                        <p style="color: rgb(140, 140, 140);">id: {{ product.display_id }}</p>
                                        
                                        <div class="d-flex justify-content-between align-items-center mt-auto">
                                            <div class="d-flex flex-column">
                                                {% if product.discount %}
                                                    <p class="card-text mb-0" style="text-decoration: line-through; color: #8b8b8b;">${{ product.price }}</p>
                                                    <p class="card-text" style="margin-top: -5px;"><strong>${{ product.sell_price }}</strong></p>
                                                {% else %}
                                                    <p class="card-text"><strong>${{ product.price }}</strong></p>
                                                {% endif %}
                                            </div>
                                            
        
                                            <a href="#" class="btn btn-primary">
                                                <i class="fas fa-shopping-cart"></i> <!-- Используйте Font Awesome для иконки -->
                                            </a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev custom-control" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                <span class="fas fa-chevron-left" aria-hidden="true"></span>
                <span class="visually-hidden">Назад</span>
            </button>
            <button class="carousel-control-next custom-control" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                <span class="fas fa-chevron-right" aria-hidden="true"></span>
                <span class="visually-hidden">Вперед</span>
            </button>
        </div>
    </div>
</div>
<!-- О ПОЛЬЗЕ ЧАЯ -->
<div class="healthy_tea">
    <div class="container mt-5">
        <div class="important_information text-center">
            <h1>О пользе чая</h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card-body text-center">
                    <i class="fas fa-leaf fa-3x mb-3"></i>
                    <h5 class="features-title">Поддержка иммунной системы</h5>
                    <p class="card-text">Чай богат антиоксидантами, которые помогают укреплять иммунитет и защищают организм от заболеваний.</p>
                </div>
            </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card-body text-center">
                        <i class="fas fa-heart fa-3x mb-3"></i>
                        <h5 class="features-title">Здоровье сердца</h5>
                        <p class="card-text">Регулярное употребление чая может снизить риск сердечно-сосудистых заболеваний благодаря улучшению кровообращения и снижению уровня холестерина.</p>
                    </div>
                </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card-body text-center">
                    <i class="fas fa-balance-scale fa-3x mb-3"></i>
                    <h5 class="features-title">Улучшение пищеварения</h5>
                    <p class="card-text">Чай, особенно травяной, может помочь улучшить пищеварительные процессы и уменьшить дискомфорт в животе.</p>
                </div>
            </div>
        </div>
    </div>
</div> 

<!-- ВИДЫ ЧАЯ -->

<div class="container mt-5">
    <h2 class="text-center mb-4 important_information">Виды чая</h2>
    <div class="row">
        <div class="col-md-3 mb-4">
            <a href="{% url "catalog:index" %}" class="card" style="width: 100%; height: 200px;">
                <img src="{% static 'deps/images/types_of_tea/green.jpg' %}" class="card-img" alt="Зеленый чай" style="height: 200px; object-fit: cover;">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title text-white">Зеленый чай</h5>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="{% url "catalog:index" %}" class="card" style="width: 100%; height: 200px;">
                <img src="{% static 'deps/images/types_of_tea/black.jpg' %}" class="card-img" alt="Чёрный чай" style="height: 200px; object-fit: cover;">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title text-white">Чёрный чай</h5>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="{% url "catalog:index" %}" class="card" style="width: 100%; height: 200px;">
                <img src="{% static 'deps/images/types_of_tea/weed.jpg' %}" class="card-img" alt="Травяной чай" style="height: 200px; object-fit: cover;">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title text-white">Травяной чай</h5>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="{% url "catalog:index" %}" class="card" style="width: 100%; height: 200px;">
                <img src="{% static 'deps/images/types_of_tea/oolong.jpeg' %}" class="card-img" alt="Улун" style="height: 200px; object-fit: cover;">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title text-white">Улун</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mb-4">
            <a href="{% url "catalog:index" %}" class="card" style="width: 100%; height: 200px;">
                <img src="{% static 'deps/images/types_of_tea/white.jpg' %}" class="card-img" alt="Белый чай" style="height: 200px; object-fit: cover;">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title text-white">Белый чай</h5>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="{% url "catalog:index" %}" class="card" style="width: 100%; height: 200px;">
                <img src="{% static 'deps/images/types_of_tea/puer.jpg' %}" class="card-img" alt="Пуэр" style="height: 200px; object-fit: cover;">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title text-white">Пуэр</h5>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="{% url "catalog:index" %}" class="card" style="width: 100%; height: 200px;">
                <img src="{% static 'deps/images/types_of_tea/roybush.jpg' %}" class="card-img" alt="Ройбуш" style="height: 200px; object-fit: cover;">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title text-white">Ройбуш</h5>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="{% url "catalog:index" %}" class="card" style="width: 100%; height: 200px;">
                <img src="{% static 'deps/images/types_of_tea/matcha.jpg' %}" class="card-img" alt="Матча" style="height: 200px; object-fit: cover;">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title text-white">Матча</h5>
                </div>   
            </a>
        </div>
    </div>
</div>



{% endblock %}